
body {
	background-color:#CECECE;
	background-image:url('../assets/back-linen.png');
	background-repeat:repeat;
	position:relative;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color:#CECECE;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Great Vibes', cursive;
	text-shadow:1px 1px #000;
	letter-spacing:0;
	color:#fff;
}

h1{
	font-size:5em;
	margin-bottom:.1em;
	margin-top:.1em;	
}

h3{
	margin-bottom:.1em;
	margin-top:.1em;
}

p{
	margin-bottom:0;
}

.navigation{
	background-color:#424242;
	background-image:url('../assets/linen.png');
	background-repeat:repeat;	
	position:absolute;
	left:0;
	top:0;
	max-width:960px;
	height:100px;
	border-bottom:1px solid #777;
	box-shadow:2px 2px 10px #424242;

}

.navigation ul{
	list-style-type:none;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:2%;
}

.navigation ul li{
	float:left;
	margin-left:15%;
	margin-top:2%;
}

#login, #logout{
	cursor:pointer;
}

a{
	color:#CECECE;
	text-decoration:none;	
	text-shadow:1px 1px #000;
	transition:.5s;
}

a:hover{
	color:#fff;
	text-decoration:none;	
	text-shadow:2px 2px #000;
	transition:.5s;
}

.container {
	width:100%;
	padding-left:2%;
}

#content {
	background-color:#424242;
	background-image:url('../assets/linen.png');
	background-repeat:repeat;
	position: absolute;
	padding-left:2%;
	padding-top:2%;
	padding-bottom:2%;
	margin-bottom:50px;
	box-shadow:2px 2px 10px #424242;
	top:100px;
	left:0;
	max-width:960px;
	text-align:center;
}
/*INVITATION*/

#home p{
	line-height:.7;
}

.invitation-header{
	width:920px;
	margin-left:2px;
	margin-right:20px;
	background-image:url('../assets/invitation-header.png');
	background-size:contain;
	padding-top:120px;
}

/*GUEST LIST*/

#statistics {
	max-width:30%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:40px;
	padding:10px;
	background-color:rgba(255, 255, 255, 0.3);
	box-shadow:1px 1px 5px #333;

}

#statistics div {
	display:inline;
	margin-left:20px;
	color:#fff;
}

#statistics div:first-child{
	margin-left:0;
}

.guestProfile{
	float:left;
	text-align:left;
	margin-left:10px;
	
}
.thumbnail{
    width: 100px;
    height: 90px;
    float: right;
    margin-bottom:40px;
    border:3px solid #CECECE;
	box-shadow:1px 1px 5px #333;
}

#loadmore {
	background-color:#ccc;
}

.guestProfile{
	line-height:1.5;
	position:relative;
	width:140px;
}

.status {
	position:absolute;
	top:25px;
	left:152px;
	width:90px;
	font-style:italic;
}

.guestName {
	font-weight:bold;
	color:#fff;
}

.showFormLink, .rsvpLink {
	cursor:pointer;
	color:lightblue;
	font-weight:bold;
}

.rsvpLink {
	position:absolute;
	left:164px;
	top:-1px;
	text-decoration:underline;
}

.guestInfo{
	position:relative;
}

.guestInfo form{
	margin-top:120px;
	background-color:rgba(255,188,0,1);
	padding:10px;
	color:white;	
	box-shadow:2px 2px 2px #333;
	height:160px;
}

.guestInfo form span {
	float:left
}

.guestInfo form input, .guestInfo form select {
	color:black;
}

input.submitForm{
	background-color:#FFF6A3;
	clear:both;
	float:left;
}

/*CONTACT*/

.contact{
	width:942px;
	margin-top:30px;
	margin-bottom:30px;	
}

.contact a{
	text-decoration:underline;
	color:#fff;
}

/*LOGIN OVERLAY*/

#overlay{
	z-index:10;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin-left:0;
	background:black;
	text-align:center;
	padding-top:50px;
	background-image:url('../assets/linen.png')
}

#overlay h1{
	font-size:4em;
	color:lightblue;
}

.loginForm{
	position:relative;
}

#overlay input[type='submit']{
	background:pink;
	color:black;
}

#overlay div{
	margin-top:40px;
	margin-bottom:20px;	
	color:black;
}

.feedback{
	position: fixed;
    top: -40px;
    width:100%;
    background-color:rgba(255,188,0,1);
    padding: 5px;
    color:white;
}












